/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.code-editor {
  font-family: monospace !important;
  size: 10pt;
  width: 900px;
  height: 500px;
}

.console {
  font-family: monospace !important;
  size: 10pt;
  width: 900px;
  height: 500px;
}
