<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div style="text-align:center;">
    <h1>
      Welcome to {{title}}!
    </h1>
    <!--<img width="300" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">-->
  </div>
  <!--<mat-tab-group>-->
    <!--<nav mat-tab-nav-bar>-->
    <!--<a mat-tab-link-->
    <!--routerLink="lab1"-->
    <!--routerLinkActive #rla="routerLinkActive"-->
    <!--[active]="rla.isActive">-->
    <!--Lab 1-->
    <!--</a>-->
    <!--<a mat-tab-link-->
    <!--routerLink="lab2"-->
    <!--routerLinkActive #rla="routerLinkActive"-->
    <!--[active]="rla.isActive">-->
    <!--Lab 2-->
    <!--</a>-->
    <!--<a mat-tab-link-->
    <!--routerLink="lab3"-->
    <!--routerLinkActive #rla="routerLinkActive"-->
    <!--[active]="rla.isActive">-->
    <!--Lab 3-->
    <!--</a>-->
    <!--<a mat-tab-link-->
    <!--routerLink="lab4"-->
    <!--routerLinkActive #rla="routerLinkActive"-->
    <!--[active]="rla.isActive">-->
    <!--Lab 4-->
    <!--</a>-->
    <!--&lt;!&ndash;<a routerLink="/lab1" routerLinkActive="active">Lab1</a>&ndash;&gt;-->
    <!--&lt;!&ndash;<a routerLink="/lab2" routerLinkActive="active">Lab2</a>&ndash;&gt;-->
    <!--&lt;!&ndash;<a routerLink="/lab3" routerLinkActive="active">Lab3</a>&ndash;&gt;-->
    <!--&lt;!&ndash;<a routerLink="/lab4" routerLinkActive="active">Lab4</a>&ndash;&gt;-->
    <!--</nav>-->
    <!--<router-outlet></router-outlet>-->
  <!--<mat-tab label="Lexical Analysis">-->
      <app-lexical-analysis></app-lexical-analysis>
  <!--</mat-tab>-->
  <!--<mat-tab label="Syntax Analysis">-->
      <app-syntax-analysis></app-syntax-analysis>
  <!--</mat-tab>-->
  <!--<mat-tab label="Semantic Analysis">-->
      <!--<app-semantic-analysis></app-semantic-analysis>-->
  <!--</mat-tab>-->

  <!--<mat-tab label="Code Generation">-->
      <!--<app-code-generation></app-code-generation>-->
  <!--</mat-tab>-->
  <!--</mat-tab-group>-->

</div>
