<!--The content below is only a placeholder and can be replaced.-->
<!--<script>hljs.initHighlightingOnLoad();</script>-->
<div style="display: block; min-width: 100%">
  {{title}}
  <div style="min-width: 100%">
    <mat-horizontal-stepper [linear]="true">
      <mat-step [stepControl]="exprCodeFormGroup">
        <form [formGroup]="exprCodeFormGroup">
          <ng-template matStepLabel>Input your ExprCodeGeneration.java file</ng-template>
          <div id="expr-editor" class="code-editor">{{exprCodeDefault}}</div>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="stmtCodeFormGroup">
        <form [formGroup]="stmtCodeFormGroup">
          <ng-template matStepLabel>Input your StmtCodeGeneration.java file</ng-template>
          <div id="stmt-editor" class="code-editor">{{stmtCodeDefault}}</div>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="testInputFormGroup">
        <form [formGroup]="testInputFormGroup">
          <ng-template matStepLabel>Test content</ng-template>
          <div id="test-editor" class="code-editor">{{testContentDefault}}</div>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Run Test</ng-template>
        Press to run test
        <div>
          <button mat-button (click)="runtest()">Run Tests</button>
          <textarea matInput disabled class="console" placeholder="Console" [value]="consoleOutput"></textarea>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
